<head>
	<meta charset="utf-8" />
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/img/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/icons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/img/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#fff">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/img/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#fff">


	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/csswizardrycom">

	<link rel="shortcut icon" href="/icon.png">
	<link rel="apple-touch-icon-precomposed" href="/icon.png">
	<meta name="apple-mobile-web-app-title" content="my_website">
	<meta name="description" content="page.meta">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<title>{{ page.title }} | {{ site.title }}</title>
</head>
