<nav>
	<ul>
		<li>
			<a class="{% if page.url == '/' %}is-active{% endif %}" href="{{ site.baseurl }}/">Home</a>
		</li>
		<li>
			<a class="{% if page.url == '/about/' %}is-active{% endif %}" href="{{ site.baseurl }}/about/">About</a>
		</li>
		<li>
			<a class="{% if page.url == '/data-example/' %}is-active{% endif %}" href="{{ site.baseurl }}/data-example/">Data Example</a>
		</li>
		<li>
			<a class="{% if page.url == '/contact/' %}is-active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
		</li>
	</ul>
</nav>
